[Unit]
Description=auto git tool script service for servicename
Documentation=
After=networking.service

[Service]
Type=simple
User=username
Group=groupname
TimeoutStartSec=0
Restart=on-failure
RestartSec=30s
#ExecStartPre=
ExecStart=placedir
SyslogIdentifier=Diskutilization
#ExecStop=

[Install]
WantedBy=multi-user.target
